<div *ngFor="let shape of shapes; let i = index">
  <form class="main-form">
    <div class="form-row">
      <label class="label-text">Type:</label>
      <div>{{ shape.type }}</div>
    </div>
    <div class="form-row">
      <label class="label-text">Length:</label>
      <input type="number" [(ngModel)]="shape.length" name="length" min="0" class="input-field">
    </div>
    <div class="form-row">
      <label class="label-text">Width:</label>
      <input type="number" [(ngModel)]="shape.width" name="width" min="0" class="input-field">
    </div>
    <div class="form-row">
      <label class="label-text">Radius:</label>
      <input type="number" [(ngModel)]="shape.radius" name="radius" min="0" class="input-field">
    </div>
    <div class="form-row">
      <label class="label-text">Area:</label>
      <strong>{{ calculateArea(shape) }}</strong>
    </div>
    <button (click)="removeShape(i)">Remove</button>
  </form>
</div>
<button (click)="addShape()">Add Shape</button>
<button (click)="saveShapes()">Save</button>

