form {
  .shape-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;

    label {
      display: inline-flex;
      min-width: 85px;
    }

    .select-shape,
    .input-field {
      width: 100px;
    }
  }

  button {
    margin-bottom: 10px;
    width: max-content;
  }
}
